/* MES STYLES */

/* ------------------------------------------------- MES STYLES */

/* ici je mets en forme les éléments structurants de ma page */
@font-face {
    font-family: 'quicksand';
    src: url('font/quicksand-bold-webfont.eot');
    src: url('font/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quicksand-bold-webfont.woff') format('woff'),
         url('font/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html{
  height: 100%;
}

body {
    /* réinitialisation des margin par défaut */
    margin:0;
    
    /* au lancement, c'est animation  qui fonctionne */
    -webkit-animation-name: animationVerte;
    /* paramètres de l'animation */
    -webkit-animation-duration: 7s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
     background:black;
font-family: 'quicksand', cursive;
    font-size:2.54em;
    overflow: hidden;
    text-transform:uppercase;
    height:100%;
}

#home{
margin-left:30%;
    margin-top:5%;
}

#slick-show{
    position:fixed;
bottom:-50px;
left:1230px;
    z-index:10000;
}

nav {
   position:fixed;
    margin-top:10%;
    margin-bottom:10%;
    z-index:100000;
    color:grey;
    text-decoration:none;
    line-height:45px;
    font-weight:900;
}
ul li {
    /* pour que le curseur ressemble à un curseur de survol et pas à celui de sélection de texte */
    cursor:pointer;
    list-style-type:none;
}

#slickbox {
    position:fixed;
    bottom: -50px;
/*    margin-bottom:0px;*/
    left:1175px;
/*    margin-left:877px;*/
    width:170px;
    color:red;
    background-color:rgba(255, 255, 255, 0.2);
    height:290px;
    padding-top:20px;
}


#fondNoir{
margin-left:3%;
    margin-top:0%;
    color: black;
    float:left;
}

#fondViolet{
margin-left:20px;
    margin-top:0%;
    float:left;
    color: #6a0eb8;
}

#fondBleu{
margin-left:100px;
    color: #2358e0;
}

#fondTurquoise{
margin-left:3%;
    float:left;
    color: #159db1;
}

#fondVert{
margin-left:20px;
    float:left;
    color: green;
}

#fondJaune{
margin-left:100px;
    color: yellow;
}

#fondOrange{
margin-left:3%;
    float:left;
    color: orange;
}

#fondRouge{
margin-left:20px;
    float:left;
    color: red;
}

#fondBlanc{
margin-left:100px;
    color: white;
}
/* ------------------------------------------------------------------  */
/* ------------------------- Animations CSS -------------------------  */
/* ------------------------------------------------------------------  */

/* ------------------------ Animations Rouge ------------------------  */
@-webkit-keyframes animationRouge {
    0% {
        background: #f51010;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #fc583d;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #f5957f);
        -webkit-transition: background-color linear;
    }
    75% {
        background: #fd683a;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #f51010;
        -webkit-transition: background-color linear;
    }
}
/* ------------------------ Animations Bleu ------------------------  */
@-webkit-keyframes animationBleu {
    0% {
        background: #0026f7;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #4d68fa;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #8f9ff8;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #6699ff;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #0026f7;
        -webkit-transition: background-color linear;
    }
}
/* ------------------------ Animations Vert ------------------------  */
@-webkit-keyframes animationVert {
    0% {
        background: #00f709;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #56fa5c;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #95ff99;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #bbffbe;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #33cc66;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Noir ------------------------  */
@-webkit-keyframes animationNoir {
    0% {
        background: #2E2E2E;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #1C1C1C;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #000000;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #151515;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #000000;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Violet ------------------------  */
@-webkit-keyframes animationViolet {
    0% {
        background: #BF4EF7;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #BC6FE2;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #AB2DEA;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #9A4DC1;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #AB2DEA;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Turquoise ------------------------  */
@-webkit-keyframes animationTurquoise {
    0% {
        background: #52F3F6;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #8EF4F5;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #1CE5E9;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #1BC1C4;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #1CE5E9;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Jaune ------------------------  */
@-webkit-keyframes animationJaune {
    0% {
        background: #f6dc2e;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #f6ee95;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #f6e206;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #DDCA1A;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #fded3a;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Orange ------------------------  */
@-webkit-keyframes animationOrange {
    0% {
        background: #F6C053;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #F8D080;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #F7A80C;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #D79208;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #F7A80C;
        -webkit-transition: background-color linear;
    }
}

/* ------------------------ Animations Blanc ------------------------  */
@-webkit-keyframes animationBlanc {
    0% {
        background: #FAF3E3;
        -webkit-transition: background-color linear;
    }
    25% {
        background: #F2F0EB;
        -webkit-transition: background-color linear;
    }
    50% {
        background: #f8f8f8;
        -webkit-transition: background-color linear;
    }
    75% {
        background: #E0DEDA;
        -webkit-transition: background-color linear;
    }
    /* on reboucle à 100% avec les valeurs identiques à 0% */
    100% {
        background: #f8f8f8;
        -webkit-transition: background-color linear;
    }
}